@import './Home.scss';

.content {
  max-width: 1633px;
  margin: auto;
  padding: 20px;
  button {
    position: absolute;
    top: 27.5vh;
    right: 29.5vw;
  }
}

.logo {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.interview-text {
  height: 5vh;
  display: block;
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;;
  text-transform: uppercase;
  top: 29%;
}

.pagContainer {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.favoriteCount {
  position: absolute;
  top: 20.5vh;
  right: 32vw;
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  border-radius: 50%;
  div {
    margin-top: 1.3vh;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.pagHide {
  display: none;
}

.noFavorites {
  text-align: center;
  margin-top: 13vh;
  .noFavoritesButton {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
  }
}
.homeButton {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}


