@import './PopUp.scss';
@import './Card.scss';
@import './SearchBar.scss';

$twinkling: 200s linear infinite;
.total {
  margin-top: -2vh;
  background-image: -moz-radial-gradient(circle, #FFFFFF .2px, #C0C0C0 .2px, transparent 2.5px),
  -moz-radial-gradient(circle, #FFFFFF .25px, #778899 .25px, transparent 3.75px),
  -moz-radial-gradient(ellipse, #778899 .2px, #D3D3D3 .5px, transparent 2.5px),
  -moz-radial-gradient(ellipse, #FFFFFF, #C0C0C0 .2px, transparent 1.75px);
  background-image: -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 2.5, from(white), color-stop(0.1, #C0C0C0), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 1.75, from(white), color-stop(0.1, #778899), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 2.5, from(#778899), color-stop(0.05, #D3D3D3), to(transparent)),
  -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1.75, from(rgba(255, 255, 255, .4)), color-stop(0.03, #C0C0C0), to(transparent));
  background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
  background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  animation-name: movement;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -moz-animation-name: movement;
  -moz-animation-duration: 15s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: movement;
  -webkit-animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes movement {
  from {
    background-position: 0 0, -30px -60px, -130px -270px, -70px -150px;
  }
  to {
    background-position: 1000px 1000px, 320px 60px, 120px 270px, 120px 120px;
  }
}

@-moz-keyframes movement {
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}

@-webkit-keyframes movement {
  from {
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
  }
  to {
    background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
  }
}

.stars {
  position: absolute;
  background: url('../images/stars2.png');
  z-index: -3;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.twinkling {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  background: url('../images/twinkling.png') repeat center;
  -moz-animation: move-twink-back $twinkling;
  -o-animation: move-twink-back $twinkling;
  -webkit-animation: move-twink-back $twinkling;
  animation: move-twink-back $twinkling;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.content {
  max-width: 1633px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  padding: 20px;
  button {
    position: absolute;
    top: 24.8vh;
    right: 46.6vw;
  }
}

.logo {
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.pagContainer {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  margin-bottom: 2vh;
  font-size: 1.5em;
}

.favoriteCount {
  position: absolute;
  top: 18.4vh;
  right: 32.6vw;
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  border-radius: 50%;
  div {
    margin-top: 1.3vh;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.pagHide {
  display: none;
}

.noFavorites {
  text-align: center;
  margin-top: 20vh;
  color: whitesmoke;
}

.homeButton {
  position: absolute;
  top: 24.6vh;
  right: 48.5vw;
}

.initialLoading {
  color: whitesmoke;
  text-align: center;
  margin-top: 51.7vh;
}

@media (min-width: 1550px) and (max-width: 1919px) {
  .card {
    width: 233px;
    p{
      span {
        font-size: .8em;
      }
    }
  }
  .card-content {
    img {
      height: 100px;
      width: 100px;
    }
  }
  .pagContainer {
    font-size: 1.2em;
  }
  .popup_inner {
    .popUpContent {
      .characterInfo {
        font-size: 1.4em;
      }
    }
    .popUpButton {
      position: absolute;
      bottom: 30px;
      right: 47%;
    }
  }
}

@media (min-width: 1500px) and (max-width: 1550px) {

  .pagContainer {
    font-size: 1.2em;
  }

  .card {
    width: 233px;
    p{
      span {
        font-size: .8em;
      }
    }
  }
  .card-content {
    img {
      height: 100px;
      width: 100px;
    }
  }
  .popup_inner {
    .popUpContent {
      .characterInfo {
        font-size: 1.2em;
      }
    }
  }
}

@media (min-width: 1260px) and (max-width: 1500px) {
  .pagContainer {
    font-size: 1.2em;
    margin-top: 6vh;
  }

  .card {
    width: 195px;
    margin: auto;
    .card-name {
      font-size: .7em;
    }
    p{
      span {
        font-size: .6em;
      }
    }
  }

  .card-content {
    img {
      height: 90px;
      width: 90px;
    }

  }
  .popup_inner {
    .popUpContent {
      .characterInfo {
        font-size: 1.2em;
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 1260px) {
  .popup_inner {
    position: absolute;
    bottom: 28.5%;
    img {
      height: 200px;
      width: 200px;
    }

    .popUpContent {
      height: 54vh;
       .characterInfo {
         font-size: 1em;
       }
     }
  }


}




