.card {
  border: 1px outset #ffffc9;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  font-size: 1.1em;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  background: #121212;
  transition: all .3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 7pt;
    cursor: pointer;
  }

  img {
    display: block;
    margin: 20px auto;
    border-radius: 2px;
    border: solid 1px #444;
  }
  p {
    span {
      margin: 0 10px;
    }
  }
}

.spinner {
  margin-left: 1vw;
  margin-top: .3vh;
}

.card-content {
  padding: 10px;
  background: #222;
  margin: 20px 20px;
  border-radius: 7pt;
}

.card-name {
  background: #494949;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #ffffc9;
}

.displayCards {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.editPerson {
  display: flex;
  justify-content: center;
  margin-top: 1.5vh;
}

.planetSelect {
  display: flex;
  justify-content: center;
  h6 {
    margin-top: 2.5vh;
    margin-bottom: -0.5vh;
    margin-left:.9vw;
  }
  .selectPlanet {
    color: black;
    margin: 15px;
  }
}

.noResults {
  color: lightgrey;
  text-align: center;
  margin-top: 20vh;
  button {
    margin-top: 5vh;
  }
}

.favoriteHide {
  display: none;
}

.loading {
  color: whitesmoke;
  text-align: center;
  margin-top: 20vh;
}



