$projectShadow: inset 0 0 7px 7px;
$color: whitesmoke;
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.popup_inner {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  left: 31%;
  right: 31%;
  top: 12%;
  bottom: 22.5%;
  margin: auto;
  padding-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px outset #ffffc9;
  border-radius: 10px;
  background: #121212;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  animation-name: boxswitch;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  &:hover {
    cursor: pointer;
  }

  .characterPicture {
    width: 254px;
    border-radius: 2px;
    border: solid 1px #444;
    box-shadow: 6px 6px 2px 1px black;
  }
  .popUpContent {
    background: #222;
    margin: 20px 20px;
    border-radius: 7pt;
    height: 60vh;
    padding: 1.5%;
    .characterInfo {
      background: #494949;
      border-radius: 8px;
      color: whitesmoke;
      font-size: 1.6em;
      margin-top: 3.5vh;
      padding: 9px;
    }
    h2 {
      margin-top: 1vh;
      margin-bottom: 3vh;
      color: whitesmoke;
      padding: 9px;
    }
  }

  @keyframes boxswitch {
    0% {
      box-shadow: $projectShadow #3f5767;
    }
    20% {
      box-shadow: $projectShadow $color;
    }
    40% {
      box-shadow: $projectShadow #3a5161;
    }
    80% {
      box-shadow: $projectShadow #BCC6CC;
    }
    100% {
      box-shadow: $projectShadow #4C75A3;
    }
  }
  .popUpButton {
    position: absolute;
    bottom: 48px;
    right: 47%;
  }
}