$textShadow: 1px 1px 1px #ffffc9;
$family: 'Krona One', sans-serif;
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.popup_inner {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  left: 31%;
  right: 31%;
  top: 20%;
  bottom: 17%;
  margin: auto;
  padding-top: 2px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px outset #ffffc9;
  border-radius: 10px;
  background: #121212;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.49);
  text-shadow: $textShadow;
  animation-name: boxswitch;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  .characterPicture {
    width: 254px;
    border-radius: 8px;
    border: solid 1px #444;
    box-shadow: 6px 6px 2px 1px black;
  }
  .popUpContent {
    background: #222;
    margin: 20px 20px;
    border-radius: 7pt;
    .characterInfo {
      background: #494949;
      border-radius: 8px;
      color: whitesmoke;
      font-size: 1.8em;
      margin-top: 3.5vh;
      padding: 9px;
    }
    h2 {
      margin-top: 2vh;
      margin-bottom: 3vh;
      color: whitesmoke;
      padding: 9px;
    }
  }
  .popUpButton {
    position: absolute;
    bottom: 21px;
    right: 47%;
  }
}