.search-bar{
  text-align: center;
  margin-bottom: 5vh;
  input{
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 2px;
    background: #999;
    margin: auto;
    color: black;
  }
  input:focus{
    outline: none;
  }
}



