$color: black;
.search-bar{
  text-align: center;
  margin-bottom: 5vh;
  input{
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 2px;
    background: #999;
    margin: auto;
    caret-color: $color;
  }
  input:focus{
    outline: none;
    color: $color;
  }
}
::placeholder {
  color: $color;
  text-align: center;
}



